<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/smartadmin.php"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">
		<testsuites>
			<testsuite name="Test Suite">
				<directory>./tests</directory>
			</testsuite>
		</testsuites>
</phpunit>
